:root {
    --neon-text-color: #f40;
    --neon-border-color: #08f;
    --neon-border-catalog-color: #ee1f87;
    --menu-main-color: #3f3451;
    /* --header-menu-color: rgb(238, 190, 33); */
    --header-menu-color: #f9c029;
    --text-main-color: #2C2C2C;
    --h-main-color: #3f3451;
    font-family: 'Comic Sans', cursive;
}

body {
    overflow-x: hidden;
    height: 100%;
    margin: 0 0 50px 0;
    padding: 0;
    flex: 1;
    display: flex;
    justify-content: center;
    position: relative;
    background-color: #ece8e8;
}

.neon-background {
    min-height: 100vh;
    height: 100%;
    width: 100vw;
    position: absolute;
    z-index: -100;
}

.neon-background:after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .7);
}

.neon-background .neon-signboard {
    position: absolute;
    border: 0.4vw solid #fff;
    border-radius: 2vw;
    text-transform: uppercase;
    animation: flicker 6.5s infinite alternate;
    animation-delay: 10s;
    color: #fff;
    text-shadow: -0.2rem -0.2rem 1rem #fff, 0.2rem 0.2rem 1rem #fff, 0 0 2rem var(--neon-text-color), 0 0 3rem var(--neon-text-color);
    box-shadow: 0 0 .5rem #fff, inset 0 0 .5rem #fff, 0 0 2rem var(--neon-border-color), inset 0 0 2rem var(--neon-border-color), 0 0 4rem var(--neon-border-color), inset 0 0 4rem var(--neon-border-color);
}

.input[type="submit"] {
    animation-delay: 10s;
    color: #fff;
    text-shadow: -0.2rem -0.2rem 1rem #fff, 0.2rem 0.2rem 1rem #fff, 0 0 2rem var(--neon-text-color), 0 0 3rem var(--neon-text-color);
    box-shadow: 0 0 .5rem #fff, inset 0 0 .5rem #fff, 0 0 2rem var(--neon-border-color), inset 0 0 2rem var(--neon-border-color), 0 0 4rem var(--neon-border-color), inset 0 0 4rem var(--neon-border-color);
}

.hero {
    margin: 70px 0;
    flex-grow: 1;
    z-index: -50;
    position: absolute;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6));
}

.neon-light-vertical {
    width: 8px;
    min-height: 98%;
    background: #2196f3;
    border-radius: 15px;
    top: 2%;
    position: absolute;
    box-shadow: 0 0 40px 5px #fff, inset 0 0 20px #fff, 0 0 160px 20px #08f, 0 0 320px 30px #08f, inset 0 0 20px #08f;
    animation: neon-tick-light 7s linear infinite;
    animation-delay: 5s;
}

.neon-light-horizontal {
    width: 95%;
    height: 8px;
    background: #f32156;
    border-radius: 15px;
    left: 5%;
    position: absolute;
    box-shadow: 0 0 40px 5px #fff, inset 0 0 20px #fff, 0 0 160px 20px #f32156, 0 0 320px 30px #f32156, inset 0 0 20px #f32156;
    animation: neon-tick-light 6s linear infinite;
    animation-delay: 7.5s;
}