    .product-page-container {
        margin: 3% 10%;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        color: black;
        /* z-index: -20; */
    }
    
    .product-page-info-container {
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .news-page-info-container {
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: -20;
    }
    
    .product-page-info-container>div,
    .news-page-info-container>div {
        margin: 0 2%;
    }
    
    .comment-container,
    .forum-message-container {
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    
    .product-page-photo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: stretch;
        text-align: center;
        flex: 1;
    }
    
    .product-page-info {
        flex: 1;
    }
    
    .product-page-info h1 {
        color: var(--h-main-color);
    }
    
    .product-page-info div {
        color: var(--text-main-color);
    }
    
    .product-page-more-info {
        display: flex;
        flex-wrap: wrap;
        margin: 10px;
    }
    
    .product-page-more-info .product-property {
        display: flex;
        flex-direction: column;
        width: 48%;
        padding: 1%;
    }
    
    .product-page-more-info .product-property-map-place {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .product-page-more-info .product-property .product-property-title,
    .product-page-more-info .product-property-map-place .product-property-title {
        color: var(--h-main-color);
    }
    
    .product-page-main-photo {
        flex: 3;
    }
    
    .product-page-other-photo {
        flex: 1;
    }
    
    .product-page-other-photo img {
        width: 12%;
    }
    
    .comment-container>div {
        text-decoration: none;
        overflow: hidden;
        word-wrap: wrap;
        text-align: center;
        margin: 20px 0;
        width: 50vw;
        padding: 15px 30px;
        border-radius: 25px;
        background: white;
        color: black;
        border: black 2px solid;
    }
    
    .forum-message-container .container-forum-message {
        text-decoration: none;
        overflow: hidden;
        word-wrap: wrap;
        text-align: center;
        margin: 10px 0;
        width: 80vw;
        padding: 10px 30px 20px 30px;
        border-radius: 25px;
        background: white;
        color: black;
        border: black 2px solid;
    }
    
    .message-like-container {
        display: flex;
        flex-direction: row;
        width: 80vw;
    }
    
    textarea {
        resize: none;
        text-align: left;
        outline: none;
        height: 150px;
        margin: 20px 0;
        border: none;
        width: 50vw;
    }
    
    .user-comment {
        padding-top: 10px;
        text-align: left;
        font-size: 24px;
        font-weight: 600;
        color: var(--h-main-color);
    }
    
    .text-comment {
        text-align: left;
        font-size: 20px;
        word-wrap: wrap;
        overflow-wrap: break-word;
        color: var(--text-main-color);
    }
    
    .mark-comment {
        text-align: right;
    }
    
    .product-page-main-photo img {
        max-height: 80%;
        width: 50%;
    }
    
    .food-page-main-photo img,
    .game-page-main-photo img,
    .news-page-main-photo img,
    .place-page-main-photo img {
        width: 100%;
    }
    
    .favorite-button {
        text-align: center;
        width: 80px;
        margin: 20px 0;
        padding: 20px 20px;
        border: 2px black solid;
        border-radius: 35px;
        background-color: var(--text-main-color);
        font-size: 20px;
        color: white !important;
        font-weight: 600;
    }
    
    .favorite-button:hover {
        cursor: pointer;
        background-color: var(--header-menu-color);
    }
    
    .popup {
        z-index: 100;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }
    
    .popup img {
        position: absolute;
        left: 25%;
        right: 25%;
        top: 10%;
        width: 30%;
        margin: auto;
        background: white;
    }
    
    .forum-them-container {
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    
    .forum-them-container>a,
    .startmessage-container {
        text-decoration: none;
        overflow: hidden;
        word-wrap: wrap;
        text-align: center;
        padding: 15px 30px;
        border-radius: 25px;
        background: white;
        color: black;
        border: black 2px solid;
    }
    
    .forum-them-container>a {
        width: 70vw;
        margin: 10px 0;
    }
    
    .startmessage-container {
        width: 77vw;
        margin: 20px 0 50px 0;
    }
    
    .mark-container {
        display: flex;
        align-items: center;
    }
    
    .positive-mark,
    .negative-mark {
        cursor: pointer;
        vertical-align: middle;
        flex: 1;
        padding: 20px;
        width: 50px;
    }
    
    .negative-mark {
        transform: rotate(180deg);
    }
    
    .mark-container .nonactive {
        opacity: 50%;
    }
    /* .forum-them-container>div {
        text-decoration: none;
        overflow: hidden;
        word-wrap: wrap;
        text-align: center;
        margin: 10px 0;
        width: 70vw;
        padding: 15px 30px;
        border-radius: 25px;
        background: white;
        color: black;
        border: black 2px solid;
    } */
    /* 
.wrap {
    width: 1000px;
    height: 100%;
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.wrap .perspective {
    width: 100%;
    height: 100%;
    perspective: 1000px;
    transform-style: preserve-3d;
    overflow: hidden;
}

.wrap .book-wrap {
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    transition: all ease-out 0.6s;
}

.book {
    width: 400px;
    height: 600px;
    background: url(http://img07.deviantart.net/747c/i/2015/114/b/0/typography_book_cover_thing_y_by_jiyulie-d5cujji.jpg) no-repeat center center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
}

.title {
    content: "";
    height: 600px;
    width: 30px;
    position: absolute;
    right: 0;
    left: -401px;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #AB4747;
    transform: rotateY(-80deg) translateX(-14px);
}

.book-back {
    width: 400px;
    height: 600px;
    background-color: #D06255;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    transform: rotate(180deg) translateZ(-30px) translateX(5px);
}

.book-back.text {
    transform: rotateX(180deg);
    position: absolute;
    bottom: 30px;
    padding: 20px;
    text-align: left;
}

.book:hover {
    transform: rotateY(20deg);
}

.book:focus {
    transform: rotateY(180deg);
} */