.catalog-container {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
}

.filter-container {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    margin-right: 100px;
}

.filter-input {
    margin-top: 23px;
    padding: 10px 25px;
    height: 30px;
    background: none;
    border: none;
    border-radius: 25px;
    box-shadow: 0 0 40px 5px #fff, inset 0 0 20px #fff, 0 0 160px 20px #08f, 0 0 320px 30px #08f, inset 0 0 20px #08f;
    width: 200px;
    font-size: 20px;
    color: white;
}

.filter-input:focus {
    outline: none;
    border: none;
    box-shadow: 0 0 40px 5px #fff, inset 0 0 20px #fff, 0 0 160px 20px #f32156, 0 0 320px 30px #f32156, inset 0 0 20px #f32156;
}

.product-container {
    width: 100%;
    margin-top: 60px;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-container .product-item {
    justify-content: center;
    min-height: 12%;
    display: flex;
    flex-flow: column;
    margin: 2%;
    padding: 2% 3%;
    width: 20%;
    border-radius: 10%;
    /* box-shadow: 0 0 .5rem #fff, inset 0 0 .5rem #fff, 0 0 2rem var(--neon-border-catalog-color), inset 0 0 2rem var(--neon-border-catalog-color), 0 0 4rem var(--neon-border-catalog-color), inset 0 0 4rem var(--neon-border-catalog-color); */
}

.product-container a {
    text-decoration: none;
    outline: none;
}

.product-container .news-item,
.product-container .place-item {
    justify-content: center;
    display: flex;
    flex-flow: column;
    margin: 2%;
    padding: 2% 3%;
    width: 80%;
    border-radius: 50px;
    text-align: center;
    /* box-shadow: 0 0 .5rem #fff, inset 0 0 .5rem #fff, 0 0 2rem var(--neon-border-catalog-color), inset 0 0 2rem var(--neon-border-catalog-color), 0 0 4rem var(--neon-border-catalog-color), inset 0 0 4rem var(--neon-border-catalog-color); */
}

.news-description {
    color: white;
}

.product-container .product-img {
    flex: 3;
}

.product-container .product-title {
    background: #fff;
    padding: 5px;
}

.product-item:hover,
.news-item:hover,
.place-item:hover {
    background: beige;
}

.product-container .product-title {
    text-align: center;
    user-select: none;
    color: #000;
    /* border: 1px #fff solid; */
    /* box-shadow: 0 0 .5rem #fff, inset 0 0 .5rem #fff, 0 0 2rem var(--neon-border-color), inset 0 0 2rem var(--neon-border-color), 0 0 4rem var(--neon-border-color), inset 0 0 4rem var(--neon-border-color); */
}

.catalog-container .select-container {
    display: flex;
    flex-direction: column;
}

.catalog-container .select-container h2 {
    margin: 0;
    color: white;
}

.comics-img,
.food-img,
.game-img,
.place-img {
    text-align: center;
}

.comics-img img {
    width: 100%;
}

.food-img img {
    width: 80%;
}

.game-img img {
    width: 100%;
    height: 100%;
}

.news-img img {
    width: 80%;
}

.place-img img {
    width: 70%;
}