ul,
li {
    white-space: nowrap;
    font-size: 26px;
    margin: 0;
    padding: 0;
}

a {
    transition: all 0.2s ease-in-out;
}

header {
    background-color: var(--header-menu-color);
    border-bottom: solid 2px #000;
    box-shadow: 0 6px 6px -6px #000;
    width: 100vw;
    margin: auto;
}

.header-info {
    display: flex;
    flex-direction: row;
    height: 150px;
    margin: 0 5% 0 10%;
    padding: 10px 0 0 0;
}

.header-info .info {
    text-align: center;
    height: 100%;
    width: 100%;
    color: var(--header-menu-color);
}

.header-info .icon img {
    height: 80%;
    margin-top: 10%;
    border-radius: 50%;
    border: 2px black solid;
    box-shadow: 0px 0px 5px black;
}

.header-info .info .main-info {
    height: 47px;
    display: flex;
    justify-content: right;
}

.header-info .info .coins {
    height: 50px;
    display: flex;
    justify-content: right;
}

.header-info .character-container {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.character-container .main-info {
    padding: 0 0 0 20px;
}

.coins img {
    margin: auto 0;
}

.coins div {
    color: #000;
    font-size: 24px;
    margin: auto 0;
}

.info .coins img {
    height: 80%;
}

.main-info a:hover,
.main-info a:visited,
.main-info a:active,
.main-info a {
    color: #000 !important;
    text-decoration: none;
}

.main-info a {
    font-size: 24px;
    margin: auto 0;
}

#nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 100;
    padding: 0 10px;
}

#nav>li>a {
    min-width: 120px;
    text-align: center;
    color: white;
    background-color: var(--text-main-color);
    text-decoration: none;
    margin: 0;
}

#nav ul a {
    text-decoration: none;
    z-index: 10;
}

#nav>li>ul {
    z-index: 1000;
}

#nav li {
    display: inline;
    position: relative;
}

#nav li ul {
    position: absolute;
    left: -9999px;
}

#nav li a {
    display: inline-block;
    padding: 20px;
}

#nav li:hover a {
    background-color: #fff;
    color: var(--menu-main-color);
}

#nav li:hover ul {
    left: 0;
    text-align: left;
    box-shadow: 0px 2px 2px var(--header-menu-color);
}

#nav li:hover ul a {
    display: block;
    padding: 15px 50px 15px 30px;
    border-bottom: 1px solid var(--menu-main-color);
}

#nav li:hover ul a:hover {
    background-color: var(--menu-main-color);
    color: #fff;
}

#nav .first-nav-item {
    border-radius: 20px 0 0 20px;
}

#nav .last-nav-item {
    border-radius: 0 20px 20px 0;
}